body{
	font-family: Verdana, sans-serif;
	font-size: 14px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
	font-weight: 500;
}

/* Change the link color to #111 (black) on hover*/

li a:hover {
	background-color: #00773a;
}

.active {
	background-color: #00773a;
}

#form {
	border: solid gray 1px;
	width: 25%;
	border-radius: 2px;
	margin: 120px auto;
	background: white;
	padding: 50px;
	text-align: center;
}

.button {
	color: #fff;
	background: #337ab7;
	padding: 7px;
	border: #337ab7 2px solid;
	border-radius: 5px;
}

.content {
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 25px;
	text-align: center;
}

.center {
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	width: 100%;
}

.center td,
.center th {
	border: 2px solid #ddd;
	padding: 10px;
}

.center tr:nth-child(even) {
	background-color: #f2f2f2;
}

.center tr:hover {
	background-color: #ddd;
}

.center th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #00773a;
	color: white;
}

.title{
	color: #00773a;
	margin: 10px 100px;
	font-size: 26px;
}

.Navigation{
	margin: 10px 100px;
	background-color: #00773a;
	border: 5px solid #00773a;
	border-radius: 10px;
}